$primary-color: #252934;
$secondary-color: #4DCCBD;
$highlight-color: #F14F41;
$text-color: #f1f1f1;

*{
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* HEADER */
#particles-js {
  background: $primary-color;
  height: 100vh;
}

.intro {
  width: 90%;
  margin: auto;
  font-size: 1.7rem;
  color: $text-color;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;

  p {
    margin: 0;

    .highlight {
      color: $highlight-color;
    }
  }

  button {
    background-color: transparent;
    border: 2px solid $text-color;
    color: $text-color;
    padding: 10px 12px;
    font-size: 0.9rem;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background: $secondary-color;
      border-color: $secondary-color;
    }
  }
}

/*NAVIGATION*/
.navigation {
  background-color: darken($primary-color, 5%);
  padding: 10px 12px;
  position: relative;
  border-bottom: 3px solid $secondary-color;

  button {
    background: transparent;
    border: none;
    padding: 0 15px 0 0;

    .fa-bars {
      color: $text-color;
      font-size: 2.2rem;
    }
  }

  .nav-list {
    color: $text-color;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%; /*important when using absolute position*/
    top: 103%; /* to position it under the navigation */
    background-color: darken($primary-color, 2%);
    padding: 0 12px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;

    li {
      padding: 15px 0;
    }
  }
}
